.adminAccount {
  position: relative;
  left: 30%;
  top: 75px;
  font-size: 20px;
  text-align: justify;
  color: #000000;
}

/* Choice regions */
.regions {
  position: relative;
  width: 250px;
  height: 26px;
  top: 120px;
  background: #d9d9d9;
  border-radius: 10px;
  text-align: center;
}

/* Choice lines */
.destination {
  position: relative;
  width: 250px;
  height: 25px;
  top: 140px;
  background: #d9d9d9;
  border-radius: 10px;
  text-align: center;
}

/* Choice city */
.city {
  position: relative;
  width: 250px;
  height: 25px;
  top: 160px;
  background: #d9d9d9;
  border-radius: 10px;
  text-align: center;
}

/*Name of Activity */
.nameActivity {
  position: relative;
  width: 250px;
  height: 25px;
  top: 145px;
  font-weight: 700;
  /* identical to box height */
  background-color: #d9d9d9;
  border-radius: 10px;
  text-align: center;
}

/* choice themes */
.themes {
  position: relative;
  width: 250px;
  height: 25px;
  top: 210px;
  background: #d9d9d9;
  border-radius: 10px;
  text-align: center;
}

/* Description */
.description {
  position: relative;
  width: 250px;
  height: 73px;
  top: 200px;
  background: #d9d9d9;
  border-radius: 10px;
  text-align: center;
}

/* Adress */
.adress {
  position: relative;
  width: 250px;
  height: 56px;
  top: 220px;
  background: #d9d9d9;
  border-radius: 10px;
  text-align: center;
}

/* Insert a picture */
.insertPicture {
  position: relative;
  width: 250px;
  height: 25px;
  left: 80px;
  top: 250px;
  background: #d9d9d9;
  border: none;
  border-radius: 10px;
}

.insertPictureB {
  position: relative;
  width: 100px;
  height: 20px;
  top: 300px;
  font-weight: 700;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.pictureAdmin {
  position: relative;
  width: 200px;
  height: 200px;
  top: 320px;
  align-items: center;
}

/* Button Validate of admin account */
.validateAdmin {
  position: absolute;
  width: 192px;
  height: 39px;
  left: 186px;
  top: 740px;
  border: none;
}

.validateAdminB {
  width: 120px;
  cursor: pointer;
}

.buttonAdmin {
  background-color: white;
  border: none;
}

@media screen and (min-width: 400px) {
  .insertPicture {
    position: relative;
    right: 250px;
  }
}

@media screen and (min-width: 800px) {
  .adminAccount {
    top: 100px;
    left: 40%;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: justify;
    color: #000000;
  }

  .insertPicture {
    left: 600px;
    background: #d9d9d9;
    border: none;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .pictureAdminA {
    flex-direction: column;
  }
}
