.AllLinesRegionImg {
  margin-top: 55px;
  position: static;
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.AllLinesRegionText {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}

.urlRegion {
  width: fit-content;
  border: 1px solid black;
  background-color: #8de8fe;
  border-radius: 10px;
  padding: 7px;
  position: relative;
  top: 18px;
  text-align: center;
}

.line-h1 {
  font-size: 20px;
  text-align: center;
  margin: 30px 0px 20px 0px;
}

.line-text {
  font-size: 14px;
  width: max-content;
  margin-top: -10px;
  margin-bottom: 10px;
}

.line-map-img {
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.nav-all-lines {
  border: 1px solid #06425c;
  background-color: #8de8fe;
  width: 30px;
  margin-right: 15px;
  height: auto;
  border-radius: 20px;
}

.nav-all-lines {
  display: block;
  color: black;
  text-decoration: none;
  margin: 40px 0 0px 15px;
  margin-bottom: 100px;
}

.line-map {
  margin-left: 55px;
  list-style: disc;
  font-size: 60px;
}

.rémiePasDeClass {
  margin-top: 30px;
}

.themeContainerFlex {
  display: flex;
  margin-bottom: 20px;
}

.themeContainerPos {
  display: flex;
  width: 30px;
  height: 20px;
  margin-left: 5px;
}

.legendethemeContainerFlex {
  right: 0px;
  margin-right: 20px;
  position: fixed;
}
.legendethemeContainerPos {
  width: 20px;
  height: 15px;
}
.legendeh2 {
  font-size: 6px;
  margin-bottom: 5px;
}

@media screen and (min-width: 500px) {
  .line-h1 {
    font-size: 40px;
  }

  .lineflex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line-map-img {
    width: 500px;
    height: 150px;
  }
}

@media screen and (min-width: 600px) {
  .line-h1 {
    font-size: 60px;
  }

  .line-text {
    font-size: 25px;
  }
  .line-map-img {
    height: 200px;
  }

  .lineflex {
    margin-top: 10%;
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 700px) {
  .line-h1 {
    font-size: 60px;
    margin-bottom: 50px;
  }

  .line-text {
    font-size: 25px;
  }

  .lineposflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    align-items: center;
  }

  .line-map-img {
    width: 300px;
    height: 200px;
  }

  .lineflex {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .nav-all-lines {
    border: none;
    background-color: white;
    list-style-type: none;
  }
  .line-map {
    list-style-type: none;
    text-align: center;
  }
  .line-text {
    font-size: 15px;
    width: auto;
    flex-wrap: wrap;
  }
}
