.FormContainer {
  box-sizing: border-box;
  position: relative;
  height: 800px;
  background-color: #ffffff;
}

.nous-contacter {
  position: absolute;
  left: 31.03%;
  right: 30.51%;
  top: 9.34%;
  bottom: 87.94%;
  font-family: "Arial Rounded MT Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.texte-contact {
  position: absolute;
  left: 9.49%;
  right: 8.97%;
  top: 13.24%;
  bottom: 79.79%;

  font-family: "?????";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.champs-obligatoires {
  position: absolute;
  left: 4.36%;
  right: 63.33%;
  top: 24.35%;
  bottom: 74%;
  font-family: "Arial Rounded MT Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #000000;
}

/* Nom* : */
.nom {
  position: absolute;
  left: 44.62%;
  right: 41.79%;
  top: 25.65%;
  bottom: 72.1%;
  font-family: "Arial Rounded MT Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: justify;
  color: #000000;
}

input {
  box-sizing: border-box;
  position: absolute;
  left: 6.92%;
  right: 6.15%;
  top: 28.25%;
  bottom: 68.44%;
  background: #d9d9d9;
  border: 1px solid #000000;
  border-radius: 9px;
  padding-left: 10px;
}

/* Prénom : */
.prenom {
  position: absolute;
  left: 42.82%;
  right: 37.44%;
  top: 37%;
  bottom: 60.76%;
  font-family: "Arial Rounded MT Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: justify;
  color: #000000;
}

.input-prenom {
  box-sizing: border-box;
  position: absolute;
  left: 6.92%;
  right: 6.15%;
  top: 39.83%;
  bottom: 56.86%;
  background: #d9d9d9;
  border: 1px solid #000000;
  border-radius: 9px;
}

/* Email : */
.email {
  position: absolute;
  left: 43.85%;
  right: 40.77%;
  top: 48.94%;
  bottom: 48.82%;
  font-family: "Arial Rounded MT Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: justify;
  color: #000000;
}

.input-email {
  box-sizing: border-box;
  position: absolute;
  left: 6.92%;
  right: 6.15%;
  top: 51.42%;
  bottom: 45.27%;
  background: #d9d9d9;
  border: 1px solid #000000;
  border-radius: 9px;
}

/* Votre commentaire* : */
.commentaire {
  position: absolute;
  left: 30.77%;
  right: 27.95%;
  top: 60.17%;
  bottom: 37.59%;
  font-family: "Arial Rounded MT Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: justify;
  color: #000000;
}

/* Input Votre commentaire */
.textarera-commentaire {
  box-sizing: border-box;
  position: absolute;
  left: 6.92%;
  right: 6.15%;
  top: 63%;
  bottom: 19.15%;
  background: #d9d9d9;
  border: 1px solid #000000;
  border-radius: 9px;
  padding-left: 10px;
  padding-top: 10px;
}

/* BTN envoyer */
.buttonSubmit {
  position: absolute;
  left: 33.33%;
  right: 32.82%;
  top: 83.1%;
  bottom: 11.35%;
}

.buttonSubmit img {
  width: 20vh;
}
