.editProfileDivPrincipal {
  display: flex;
  border-bottom: 2px solid black;
  padding-top: 5vh;
  height: 45vh;
}

.editProfileSectionContainer2 {
  width: 100%;
}

.editProfileContainers {
  width: 100%;
}

.editProfileDivImg {
  width: 40%;
  height: 45vh;
  z-index: -5;
}

.editProfileImg {
  width: 100%;
  height: 45%;
  object-fit: contain;
  position: relative;
  top: 25px;
}

.buttonAccessAdmin {
  margin-top: 20px;
  padding: 5px;
  border-radius: 15px;
  background-color: blue;
  color: #ffffff;
  border: solid 3px red;
  cursor: pointer;
}

.editProfileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-top: 2vh;
}

.editProfileFirstname {
  border-radius: 5px;
  background-color: rgb(215, 211, 211);
  height: 20px;
  width: 90%;
  text-align: center;
}

.editProfileLastname {
  border-radius: 5px;
  background-color: rgb(215, 211, 211);
  height: 20px;
  width: 90%;
  text-align: center;
}

.editProfileMail {
  border-radius: 5px;
  background-color: rgb(215, 211, 211);
  width: 90%;
  height: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.editProfileDivUploadImg {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.editProfileDivButtons {
  display: flex;
  width: auto;
}
.editProfileDeconnexionbtn {
  display: block;
  position: relative;
  text-align: center;
  width: 8em;
  height: 1.8em;
  border-radius: 1em;
  background: #8de8fe;
  cursor: pointer;
  font-size: 15px;
  top: 50px;
  right: 70px;
  margin-left: 35px;
}

.editProfileDeconnexionbtn:before {
  content: "";
  width: 1.2em;
  height: 1.2em;
  border-radius: 1em;
  background: #0c131f;
  position: absolute;
  left: 0.2em;
  top: 0.2em;
}

.editProfileUpdateBtn {
  display: block;
  position: relative;
  text-align: center;
  width: 7.6em;
  height: 1.5em;
  border-radius: 1em;
  background: #0c131f;
  cursor: pointer;
  top: 50px;
  right: 70px;
}

.editProfileUpdateBtn:before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background: #8de8fe;
  position: absolute;
  right: 0.2em;
  top: 0.2em;
}

.text-btn-white-user {
  padding-right: 15px;
  color: #ffffff;
  font-size: 14px;
}

.text-btn-black-user {
  padding-left: 18px;
  font-size: 14px;
}

@media screen and (min-width: 800px) {
  .accountuserDivPrincipal {
    padding-top: 20vh;
  }

  .editProfileDivPrincipal {
    height: 70vh;
    margin-bottom: 200px;
    margin-top: 5vh;
  }
  .editProfileDivImg {
    width: 40%;
    height: 45vh;
  }
  .editProfileForm {
    width: 60%;
    margin-right: 10%;
  }

  .editProfileImg {
    height: 90%;
    width: 70%;
    margin-left: 30%;
  }

  .editProfileSectionContainer1 {
    display: flex;
    justify-content: flex-start;
  }

  .editProfileFirstname {
    width: 90%;
  }

  .editProfileLastname {
    width: 90%;
  }

  .editProfileMail {
    width: 500px;
  }

  .editProfileDivUploadImg {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
  }

  .editProfileInputImg {
    margin-left: 30%;
  }

  .editProfileSectionContainer2 {
    margin-top: 5vh;
  }

  .editProfileDivButtons {
    margin-left: 15%;
  }

  .editProfileUpdateBtn {
    display: block;
    position: relative;
    width: 10em;
    height: 1.2em;
    border-radius: 1em;
    background: #0c131f;
    cursor: pointer;
    top: 50px;
    right: 70px;
  }

  .editProfileUpdateBtn:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background: #8de8fe;
    position: absolute;
    left: 0.3em;
  }
}
