* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

.footer_css {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #0c131f;
  height: 90px;
  width: 100%;
}

.sncf-connect-logo {
  width: 20%;
  max-width: 220px;
  padding-top: 15px;
}

.planForSite {
  text-align: left;
  margin-left: 10px;
  font-size: 0.8em;
}

.planForSite p{
  font-size: 20px;
  padding-bottom: 10px;
  color: white;
}
.menu a {
  color: rgb(255, 255, 255);
}

.social-networks {
  display: flex;
  justify-content: right;
  padding-right: 15px;
  margin-top: 30px;
}
