.homeDivMain {
  margin: 0px 10px 5vh 10px;
}

.homeTitle {
  margin-bottom: 3vh;
  padding-top: 18%;
}

.homeDiv {
  display: flex;
  width: 100%;
  margin: auto;
  flex-flow: wrap;
  justify-content: space-around;
  margin-bottom: 15vh;
  margin-top: 3vh;
}

.homeRegionContainers {
  font-size: 8px;
  width: 40%;
  height: 15vh;
  margin-top: 10px;
  align-items: center;
  overflow: hidden;
  margin-bottom: 2vh;
}

.homeRegionImg {
  z-index: -1;
  position: relative;
  width: 300px;
  height: 10vh;
  right: 75px;
  bottom: 5px;
  object-fit: cover;
}

.homeRegionTitle {
  position: relative;
  top: 95px;
}

@media screen and (min-width: 410px) {
  .homeRegionTitle {
    position: relative;
  }
  .homeRegionImg {
    margin-top: -2%;
  }
}

@media screen and (min-width: 800px) {
  .homeRegionContainers {
    font-size: 10px;
  }

  .homeRegionImg {
    width: 400px;
    height: 150px;
  }
  .homeRegionTitle {
    top: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .homeTitle {
    margin-bottom: 3vh;
    padding-top: 8%;
  }

  .homeRegionContainersParent {
    font-size: 14px;
    width: 30%;
    height: 200%;
  }

  .homeRegionContainersChild {
    margin-left: 25%;
  }

  .homeRegionImg {
    width: 300px;
    height: 100px;
  }
  .homeRegionTitle {
    top: 20%;
  }
}
