.line-first {
  width: 100%;
  height: 50%;
}

.line-h1 {
  font-size: 20px;
  text-align: center;
  margin: 30px 0px;
}
.line-esp-foot {
  margin-bottom: 100px;
}

.line-map p {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin: 20px 0px;
}

.line-map-img {
  width: 52%;
  height: 109px;
  object-fit: fill;
}

@media screen and (min-width: 500px) {
  .line-h1 {
    color: red;
    font-size: 40px;
  }

  .lineflex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line-map-img {
    width: 390px;
    height: 150px;
    object-fit: fill;
  }
}

@media screen and (min-width: 900px) {
  .line-h1 {
    color: blue;
    font-size: 60px;
  }

  .line-first {
    width: 90%;
    height: 50%;
    padding-top: 0.5%;
    border-radius: 20px;
  }

  .lineposflex {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
    padding: 0% 10%;
  }
  .lineflex {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-top: 20%;
  }

  .line-map-img {
    width: 380px;
    height: 150px;
    object-fit: fill;
    border-radius: 15px;
  }
}

@media screen and (min-width: 1850px) {
  h1 {
    color: yellow;
  }
}

.line-map-img {
  width: 380px;
  height: 150px;
  object-fit: fill;
}
