.texte-message {
  position: absolute;
  left: 9.49%;
  right: 8.97%;
  top: 30%;
  bottom: 79.79%;
  font-family: "?????";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.btnHome-message {
  position: absolute;
  width: 130.23px;
  left: 230px;
  top: 705px;
}
