.createuser_title {
    padding-top: 9vh;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.createruser_container{
    margin-top: 20%;
}

.createuser_subtitle{
    font-size: 10px;
}

.createuser_password{
    margin-top: 25px;
    height: 20px;
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #d9d9d9;
}

.redUser{
    color: red;
}

.pictureP-UserModif {
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pictureT-UserModif {
  width: 75%;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  margin-bottom: 120px;
  width: 100%;
}
/* btn-pill-color */
/* BTN dark text white */

.pill-dark button {
  display: block;
  position: relative;
  width: 8em;
  height: 2em;
  margin-bottom: 20px;
  border-radius: 1em;
  background: #0c131f;
  cursor: pointer;
}

.pill-dark button:before {
  content: "";
  display: block;
  width: 1.6em;
  height: 1.6em;
  border-radius: 1em;
  background: #8de8fe;
  position: absolute;
  right: 0.2em;
  top: 0.1em;
}

.textbtnwhite {
  align-content: center;
  padding-right: 15px;
  color: #ffffff;
}

/* BTN blue text black */

.pill-blue button {
  display: block;
  position: relative;
  width: 8em;
  height: 2em;
  margin-bottom: 20px;
  border-radius: 1em;
  background: #8de8fe;
  cursor: pointer;
}

.pill-blue button:before {
  content: "";
  display: block;
  width: 1.6em;
  height: 1.6em;
  border-radius: 1em;
  background: #0c131f;
  position: absolute;
  left: 0.2em;
  top: 0.1em;
}

.textbtnblack {
  align-content: center;
  padding-left: 15px;
}

@media screen and (min-width: 600px) {
.textbtnblack, .textbtnwhite{
    font-size: 18px;
    }

.pill-dark button, .pill-blue button {
    max-width: 150px;
    max-height: 40px;
    }

.pill-blue button:before, .pill-dark button:before {
    max-width: 30px;
    max-height: 30px;
    }
}

@media screen and (min-width: 850px) {
    .createruser_container{
    margin-top: 5%;
    }

    .pictureP-UserModif {
    margin-top: 5%;
    margin-bottom: 10%;
    }   
}

@media screen and (min-width: 1300px) {
    .pictureT-UserModif {
     max-width: 1000px;
    }
}

@media screen and (min-width: 1500px) {
    .createruser_container{
    margin-top: 1%;
    }

    .pictureP-UserModif {
    margin-top: 1%;
    }  
}