* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

.navbar {
  position: fixed 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0c131f;
  width: 100%;
}

.sncf-explo-logo {
  width: 100%;
  height: auto;
  margin: 10px 10px;
}

.user-account-logo {
  width: 30%;
  height: auto;
  margin: 10px 0 0 50px;
}
.navbar li {
  width: 25%;
}
