.welcomeConnexionUser {
  margin: 70px 0px 30px 0px;
  font-size: 20px;
}

.picture-train {
  width: 90%;
  height: 40vh;
  margin: 50px 0px 30px 0px;
}

.grid-container-user {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* btn-pill-color */
/* BTN dark text white */

.toggle-pill-dark button {
  display: block;
  position: relative;
  width: 8em;
  height: 2em;
  margin-bottom: 20px;
  border-radius: 1em;
  background: #0c131f;
  cursor: pointer;
}

.toggle-pill-dark button:before {
  content: "";
  display: block;
  width: 1.6em;
  height: 1.6em;
  border-radius: 1em;
  background: #8de8fe;
  position: absolute;
  right: 0.2em;
  top: 0.1em;
}

.text-btn-white {
  align-content: center;
  padding-right: 15px;
  color: #ffffff;
}

/* BTN blue text black */

.toggle-pill-blue button {
  display: block;
  position: relative;
  width: 8em;
  height: 2em;
  margin-bottom: 20px;
  border-radius: 1em;
  background: #8de8fe;
  cursor: pointer;
}

.toggle-pill-blue button:before {
  content: "";
  display: block;
  width: 1.6em;
  height: 1.6em;
  border-radius: 1em;
  background: #0c131f;
  position: absolute;
  left: 0.2em;
  top: 0.1em;
}

.text-btn-black {
  align-content: center;
  padding-left: 15px;
}
